<template>
  <div class="home">
    <el-container>
      <el-aside width="200px">
        <el-radio-group v-model="isCollapse" style="margin-bottom: 20px">
          <el-radio-button :label="false">展开</el-radio-button>
          <el-radio-button :label="true">收起</el-radio-button>
        </el-radio-group>
        <el-menu
          default-active="1-4-1"
          class="el-menu-vertical-demo"
          :collapse="isCollapse"
          router
        >
          <template v-for="item in menuData">
            <el-menu-item
              v-if="item.isMenuItem"
              :index="item.path"
              :key="item.path"
            >
              <i class="el-icon-menu"></i>
              <span slot="title">{{ item.title }}</span>
            </el-menu-item>

            <el-submenu v-else :index="item.path" :key="item.path">
              <template slot="title">
                <i :class="item.icon"></i>
                <span slot="title">{{ item.title }}</span>
              </template>

              <el-menu-item v-if="item.type === 'radio'" index="1-3"
                >可跳转项</el-menu-item
              >

              <el-menu-item-group
                v-else-if="item.type === 'grouping'"
                :title="item.itemTitle"
              >
                <el-menu-item
                  v-for="d in item.menuItem"
                  :key="d.path"
                  :index="d.path"
                  >{{ d.label }}</el-menu-item
                >
              </el-menu-item-group>

              <el-submenu v-else index="1-4">
                <span slot="title">选项4</span>
                <el-menu-item index="1-4-1">选项1</el-menu-item>
              </el-submenu>
            </el-submenu>
          </template>
        </el-menu>
      </el-aside>
      <el-main>
        <router-view></router-view>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      isCollapse: false,
      menuData: [
        {
          path: "0",
          isMenuItem: false, // true: 菜单项
          title: "VUE",
          icon: "iconfont icon-Vue",
          type: "grouping", // radio/ grouping/ select
          itemTitle: "v-自定义指令",
          menuItem: [
            {
              path: "/directives",
              label: "按钮权限控制",
            },
            {
              path: "/SelectAddress",
              label: "地址四级联动",
            },
          ],
        },
      ],
    };
  },
  methods: {},
};
</script>
<style scope>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
  box-sizing: border-box;
}
</style>
