<template>
  <div class="directives">
      <el-button v-has="'add'" type="success" icon="el-icon-circle-plus-outline">添加</el-button>
      <el-button v-has="'edit'" type="primary" icon="el-icon-edit">编辑</el-button>
      <el-button v-has="'delete'" type="danger" icon="el-icon-delete">删除</el-button>
  </div>
</template>

<script>

export default {
  data () {
    return {
      
    }
  }
}
</script>

<style scope>

</style>