<template>
  <div> 
  <el-cascader
    :options="city"
    :props="{ 
      expandTrigger: 'hover',
      value: 'code',
      label: 'name'
    }"
    popper-class="myCascader"
    v-model="selectedOptions"
    @change="handleChange"
    style="width: 300px"
  >
  </el-cascader>
  </div> 
</template>

<script>
let city = require('@/assets/city.json')
export default {
  data() {
    return {
      city,
      selectedOptions: ["11", "1101", "110101", "110101001"],
    };
  },
  methods: {
    handleChange(val) {
      console.log(val);
    },
  },
};
</script>
